/.idea/
/Nerve and Sleep Gas Shells/Source/.idea/
/Nerve and Sleep Gas Shells/Source/NerveGasMod/.idea/
/Nerve and Sleep Gas Shells/Source/NerveGasMod/bin/
/Nerve and Sleep Gas Shells/Source/NerveGasMod/obj/
