<?xml version="1.0" encoding="utf-8" ?>
<Defs>

	<RimWorldColumns.RWCSettingsDef>
		<defName>ColumnSettings</defName>
		<columnsForRoomRequirement>
			<li>LightColumnMod</li>
			<li>OrbitalTradeColumnMod</li>
			<li>SunColumnMod</li>
			<li>IceColumnMod</li>
			<li>GraveColumnMod</li>
		</columnsForRoomRequirement>
	</RimWorldColumns.RWCSettingsDef>

</Defs>